<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">DROP-ME</h1>
                    <p class="lead fw-normal text-white-50 mb-4">¡Cambiemos!</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/sign-up">¡Intercambiemos!</a>

                    </div>
                </div>
            </div>

<!--Aqui va el Cuenta-->
        <div class="bg-dark py-5" class="col-xl-5 col-xxl-6 d-none d-xl-block text-center" class="card" style="width: 25rem;">
                <img class="buttonCenter" class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffiles.merca20.com%2Fuploads%2F2015%2F10%2Fshutterstock_173933153.jpg&f=1&nofb=1" alt="Card image cap">

        </div>

        <div>
<p></p>

    </div>
    <!-- Footer -->
    <footer class="page-footer font-small cyan darken-3" style="width:100%;">

        <!-- Footer -->
        <footer class="page-footer font-small mdb-color lighten-3 pt-4">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                        <!-- Content -->
                        <h5 class="font-weight-bold text-uppercase mb-4">Contactanos</h5>
                        <p>Drop_Me@Team3.com</p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

                        <ul class="list-unstyled">
                            <li>
                                <p>
                                    <a href="#!">Nuestros Proyectos</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="#!">BLOG</a>
                                </p>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                        <!-- Contact details -->
                        <h5 class="font-weight-bold text-uppercase mb-4">Dirección recomendada para realizar tus Intercambios</h5>

                        <ul class="list-unstyled">
                            <li>
                                <p>
                                    <i class="fas fa-home mr-3"></i>Ciudad de Guatemala, Guatemala</p>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                        <!-- Social buttons -->
                        <h5 class="font-weight-bold text-uppercase mb-4">Siguenos</h5>

                        <!-- Facebook -->
                        <a type="button" class="btn-floating btn-fb">
                            <i class="fab fa-facebook-f">Facebook</i>
                        </a>
                        <!-- Google +-->
                        <a type="button" class="btn-floating btn-gplus">
                            <i class="fab fa-google-plus-g">Gmail</i>
                        </a>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
              <iframe src="https://maps.google.com/maps?q=Kinal&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0" allowfullscreen></iframe>
            </div>
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2022 Derechos Reservados:
                <p>Grupo 3</p>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
<!--                      <div class="bg-dark py-5" class="col-xl-5 col-xxl-6 d-none d-xl-block text-center" class="card" style="width: 14rem;">
                <img class="buttonCenter" class="card-img-top" src="http://assets.stickpng.com/images/585e4beacb11b227491c3399.png" alt="Card image cap">
                <div class="card text-center" class="bg-dark py-5" class="card-body">
                    <button type="button" class="btn btn-info" routerLink="/productos">Mis productos </button>
                        <br>
                        <br>
                    <button type="button" class="btn btn-info" routerLink="/solicitud">Solicitudes</button>
                </div>
              </div>
            -->
