    
    
<div class=" container main-container">
    <h1>DropMe!</h1>
    <h2>Chat</h2>
    <div class="chat-window">
        <div class="app-mensajes" id="app-mensajes">

            <div *ngFor="let chat of sChat.chats"
                [ngClass]="{'text-end': sChat.usuario._id == chat._id}">
                <span class="badge" 
                    [ngClass]="{'badge-primary': sChat.usuario._id == chat._id, 
                    'badge-success': sChat.usuario._id != chat._id}"
                    
                    >{{chat.nombre}}</span>
                <p>
                    {{chat.mensaje}}
                </p>
            </div>

        </div>  
        <input type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="Enviar" (keyup.enter)="enviar_mensaje()">

    </div>  
</div>
