.main-container{
  background-color: #212529;
  padding: 6em;
  position: relative;
}

.main-containerdos{
  background-color: #212529;
  position: relative;
  top: 10em;
  left: 92em;
  transform: translate(-50%, -50%);
}

.puntero{
  cursor: pointer;
}

.chat-window{
  width: 600px;
  overflow: hidden;
  border: 0.2em solid #34373d;
  border-radius: 20px;
}

.app-mensajes{
  overflow-y:scroll;
  height:370px;
  background:gray;
  padding: 5px;
}


/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

input{
  width: 600px;
  height: 50px
}
