    
    
<div class=" container main-container">
    <h1>DropMe!</h1>
    <h2>Chat</h2>
    <div class="chat-window">
        <div class="app-mensajes" id="app-mensajes">

            <div class="fs-5" *ngFor="let chats of sChat.chats"
            [ngClass]="{'text-center': sChat.usuario._id == chats._id}">
                <p class="badge fs-4" [ngClass]="{'bg-success': sChat.usuario._id == chats._id}">
                    {{chats.nombre}} :
                </p>
                <p class="badge fs-5" [ngClass]="{'text-end': sChat.usuario._id == chats._id}">
                    {{chats.mensaje}}
                </p>
            </div>

        </div>  
        <input type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="Enviar" (keyup.enter)="enviar_mensaje()">

    </div>  
</div>
