
<div class="bg-dark py-5">
  <div class="chat-window" *ngIf="sChat.usuario.uid">
    <app-chat></app-chat>

<div class="container">
<div class="cardnatu">
<div class="card" style="width: 18rem;">
  <div class="card-body" >
    <h5 class="card-title">{{oferta[0].nombre}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{oferta[0].precio}}</h6> 
    <p class="card-text">{{oferta[0].categoria}}</p>
 </div>
</div>
</div>
</div>

<div class="container2 text-center">
<div class="cardnatu2">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{solicitado[0].nombre}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{solicitado[0].precio}}</h6> 
    <p class="card-text">{{solicitado[0].categoria}}</p>
  </div>
</div>
</div>
</div>

<div class="contenedorcharboton">
  <div class="contenedorbotonesalign">
  <button type="button" class="btn btn-success" routerLink="/carga" (click)="getSolicitud()">ACEPTAR</button>
<button type="button" class="boton btn-success">RECHAZAR</button>
</div>
</div>

 <!--
<div class="centre">
  <div class="contenedorchar bg-dark">
<div class="row bg-dark py-5">
  <div class="col-sm-6 bg-dark">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card #1</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
    </div>
  </div>
  <div class="centredos">
    <div class="contenedorchardos">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card #2</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="centreboton">
  <div class="contenedorcharboton">
  <button type="button" class="btn btn-success">ACEPTAR</button>
<button type="button" class="boton btn-success">RECHAZAR</button>
</div>
-->
